body {
  margin: 0;
}
p {
  margin: 0px;
}
h3 {
  margin: 0px;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 00px;
  column-gap: 40px;
}
.contact-card {
  width: 100%;
  max-width: 200px;
  box-shadow: 4px 4px 8px 3px rgba(0,0,0,0.15);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  padding: 0px 10px;
  padding-bottom: 10px;
}
.cat-image {  
  width: 100%;
  max-width: 200px;
  max-height: 100px;
  object-fit: cover;
  object-position: 0% 20%;
  border-radius: 5px;
  margin: 10px 0px;  
  align-self: center;
}
.info-group {
  display: flex;
  flex-direction: row;
}
.icon-image {
  width: 15px;
  padding-right: 10px;
}